body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: whitesmoke;
}

a {
  color: #333;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #888;
}

.top {
  width: 100%;
  width: 100vw;
  padding-bottom: 5rem;
  background-color: #fefefe;
  font-size: 2em;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.bottom {
  background-color: #DDD;
  color: #666;
  margin-top: 2rem;
  padding: 1em 0 .5em;
  text-align: center;
  font-size: .8em;
}

.logo {
  width: 15em;
  transition: all 250ms linear;
}

.subtitle {
  font-size: 1.5rem;
}

@media (max-width: 890px) {
  .logo {
    width: 80vw;
  }
}

.gh-star {
  margin: 2em auto;
  text-align: center;
}

.demo {
  margin: 3rem auto 0;
  width: 70vw;
  transition: all 250ms linear;
}

@media (max-width: 970px) {
  .demo {
    width: 80vw;
  }
}

@media (max-width: 690px) {
  .demo {
    width: 90vw;
  }
}

.demo_postList {
  min-height: 30vh;
  max-height: 80vh;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.demo_btn {
  outline: none;
  display: block;
  font-size: 1.2rem;
  padding: 1em 5em;
  margin: 2em auto;
  background-color: transparent;
  border: solid 1px #DDD;
  color: #666;
  cursor: pointer;
}

.demo_btn:hover,
.demo_btn:focus {
  background-color: #DDD;
}

.demo_btn[disabled] {
  opacity: .4;
  cursor: not-allowed;
}

.changeUser {
  display: block;
  background: #DDD;
  color: #666;
  padding: 1em 0 .5em;
  text-align: center;
}

.changeUser_txt {
  font-size: 1.5rem;
}

.changeUser_txt::before {
  content:attr(data-wide-text);
}

@media (max-width: 950px) {
  .changeUser_txt::before {
    content: attr(data-small-text);
  }
}

.changeUser_input {
  font-size: 1.5rem;
  width: 10em;
  margin-right: 2em;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: dashed 2px #666;

}

.changeUser_btn {
  font-size: 1.5rem;
  padding: .5em 1.5em;
  background-color: transparent;
  border: solid 2px #999;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 950px) {
  .changeUser_btn {
    margin-top: 2rem;
  }
}

.changeUser_btn:focus,
.changeUser_btn:hover {
  color: firebrick;
  border-color: firebrick;
}

.contentWrap {
  width: 70vw;
  margin: 0 auto;
  transition: all 250ms linear;
}

@media (max-width: 970px) {
  .contentWrap {
    width: 80vw;
  }
}

@media (max-width: 690px) {
  .contentWrap {
    width: 90vw;
  }
}

h2 {
  margin-top: 5rem;
}

p {
  margin: 2rem 0;
}

.optionsList {
  list-style: none;
}

.optionsList li {
  margin-bottom: 2rem;
}

li span{
  display: block;
}

.postList {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 42.5em) {
  .postList {
    width: 60%;
  }
}

@media (min-width: 50.5em) {
  .postList {
    width: 55%;
  }
}

.blogiumPost {
  padding-top: 5em;
}

.blogiumPost:first-child {
  padding-top: 2em;
}

.blogiumPost-date {
  display: block;
  text-align: center;
}

.blogiumPost-title {
  text-align: center;
  color: #888;
  font-size: 2rem;
  transition: all 250ms linear;
}

.blogiumPost-title:hover {
  color: #555;
}

.blogiumPost-description {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.blogiumPost-description img {
  width: 15rem;
}

.blogiumPost-description a {
  display: inline-block;
  color: #888;
  transition: all 250ms linear 0;
}

.blogiumPost-description a:hover,
.blogiumPost-description a:focus {
  color: #555;
}
